Projeto Node-RED/flows.json
[{"id":"6883f2c8bd76eee4","type":"tab","label":"Controle de Estoque","disabled":false,"info":"","env":[]},{"id":"fe28697ecc02f065","type":"ui-gauge","z":"6883f2c8bd76eee4","name":"","group":"959cd67699a5ab56","order":1,"width":3,"height":3,"gtype":"gauge-tank","gstyle":"needle","title":"Medidor de Estoque","units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"50","color":"#5cd65c"},{"from":"20","color":"#ffc800"},{"from":"0","color":"#ea5353"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":460,"y":240,"wires":[]},{"id":"7a3f241e95c9992b","type":"ui-text","z":"6883f2c8bd76eee4","group":"959cd67699a5ab56","order":2,"width":"4","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":true,"className":"","x":510,"y":420,"wires":[]},{"id":"71ddf39e16cdd66c","type":"function","z":"6883f2c8bd76eee4","name":"function 1","func":"if(msg.payload<=20)\nmsg.payload = \"Nível Baixo\";\nif(msg.payload>=50)\nmsg.payload = \"Nível Alto\";\nif(msg.payload<50 && msg.payload>=20)\nmsg.payload = \"Alerta\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":260,"wires":[["7a3f241e95c9992b","41baf895e40e1a76"]]},{"id":"41baf895e40e1a76","type":"ui-led","z":"6883f2c8bd76eee4","name":"","group":"959cd67699a5ab56","order":3,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"center","states":[{"value":"Nível Baixo","valueType":"str","color":"#ff0000"},{"value":"Nível Alto","valueType":"str","color":"#00ff00"},{"value":"Alerta","valueType":"str","color":"#ffd500"}],"allowColorForValueInMessage":false,"shape":"square","showBorder":false,"showGlow":false,"x":510,"y":360,"wires":[]},{"id":"4ea8ecae7f8b6a35","type":"mqtt in","z":"6883f2c8bd76eee4","name":"Nivel","topic":"projeto/nivel","qos":"2","datatype":"auto-detect","broker":"e88ad8d852b2c529","nl":false,"rap":true,"rh":0,"inputs":0,"x":70,"y":120,"wires":[["fe28697ecc02f065","71ddf39e16cdd66c"]]},{"id":"959cd67699a5ab56","type":"ui-group","name":"Controle de Estoque","page":"b2104b97e51af152","width":"4","height":"1","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"e88ad8d852b2c529","type":"mqtt-broker","name":"","broker":"192.168.0.3","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"b2104b97e51af152","type":"ui-page","name":"Variaveis de Estoque","ui":"863431561df545ed","path":"/page1","icon":"home","layout":"grid","theme":"61e3fb568d64fb9c","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":"true","disabled":"false"},{"id":"863431561df545ed","type":"ui-base","name":"Shild IoT","path":"/dashboard","appIcon":"","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"showPageTitle":true,"navigationStyle":"default","titleBarStyle":"default"},{"id":"61e3fb568d64fb9c","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094CE","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}}]